* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: monospace;
    font-size: 1.2rem;
}

section {
    background-color: #2f5cffcf;
    color: white;
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 30px;
}

header {
    background-color: #2f5cffcf;
    color: white;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    font-weight: bold;
}


header ul {
    display: inline-flex;
    justify-content: flex-end;
    list-style: none;
    text-align: right;
    width: 60%;
    margin: 0;
    padding: 0;
}

header li {
   
    padding-left: 35px;
}

header a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline 3px white;
    text-underline-offset: 8px;
}

.greeting {
    position: relative;
    background-color: transparent;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.greeting > div {
    text-align: center;
}

.greeting > img {
    width: 40%;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, white 0%, 90%, #2F5CFF);
}

.deco-box {
    z-index: -5;
    background-image: linear-gradient(to bottom right, white 0%, 80%, #2F5CFF);;
    width: 6em;
    height: 6em;
    position: absolute;
    top: 3em;
    right: 18em;
    border-radius: 50%;
}

.deco-box2 {
    z-index: -5;
    background-image: linear-gradient(to bottom right, white 0%, 80%, #2F5CFF);;
    width: 6em;
    height: 6em;
    position: absolute;
    top: 13em;
    right: 6em;
    border-radius: 50%;
}

h1 {
    display: inline;
    vertical-align: center;
    font-size: 3rem;
    font-family: monospace;
}

.container-skills {
    display: flex;
    width: 80%;
    height: 20rem;
    margin: 1rem auto;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.container-skills section {
    width: 45%;
    margin: 0;
    padding-left: 3rem;
}

.section-skill {
    position: absolute;
    top: 2rem;
    left: 0;
}

.section-learning {
    position: absolute;
    top: 5rem;
    right: 0;
}

.section-skill-list > ul, .section-learning-list > ul {
    margin-left: 0;
    padding: 0;
}

.section-skill-list > li, .section-learning-list > li {
    margin-top: 5px;
    padding: 0;
}

.contact-list {
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.contact-list > li {
    text-align: center;
}

.contact-list img {
    height: 3em;
    width: 3em;
}

.contact-list a {
    text-decoration: none;
    color: black;
}