@import url(./components/header.css);
@import url(./components/main.css);


* {
    box-sizing: border-box;
}

:root {
    /*  primary: #2F5CFF 
        secondary: white*/
    --primary-color: #2F5CFF;
    --secondary-color: #FFF;

    --primary-color-transparent: #2f5cffcf;
}



body {
    margin: 0;
    padding-top: 40px;
    font-family: monospace;
    font-size: 1.2rem;
    background-color: rgb(222, 235, 237);
}