header {
    position: fixed;
    top: 0;
    z-index: 10;
    grid-area: nav;
    background-color: var(--primary-color-transparent);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    font-weight: bold;
}


.header__horizontal-nav {
    display: inline-flex;
    justify-content: flex-end;
    list-style: none;
    text-align: right;
    width: 60%;
    margin: 0;
    padding: 0;
}

.header__vertical-nav {
  position: fixed;
  top: 4rem;
  right: 2rem;
  list-style: none;
  text-align: right;
}

.header__vertical-nav a {
  text-decoration: none;
  color: black;
}

header li {
    padding-left: 35px;
}

header a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline 3px white;
    text-underline-offset: 8px;
}

.nav-icon{
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .nav-icon span{
    background-color:#FFF;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon span:nth-child(1){
    width: 100%;
    height:  4px;
    display: block;
    top: 0px;
    left: 0px;
  }
  .nav-icon span:nth-child(2){
    width: 100%;
    height:  4px;
    display: block;
    top: 13px;
    left: 0px;
  }
  .nav-icon span:nth-child(3){
    width: 100%;
    height:  4px;
    display: block;
    bottom: 0px;
    left: 0px;
  }
  .nav-icon:not(.open):hover span:nth-child(1){
    width: 100%;
    height:  4px;
    display: block;
    top: -2px;
    left: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon:not(.open):hover span:nth-child(2){
    width: 100%;
    height:  4px;
    display: block;
    top: 13px;
    left: 0px;
    transition: .4s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon:not(.open):hover span:nth-child(3){
    width: 100%;
    height:  4px;
    display: block;
    bottom: -2px;
    left: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon.open span:nth-child(1){
    left:3px;
    top: 12px;
    width: 30px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(90deg);
    transition-delay: 150ms;
  }
  .nav-icon.open span:nth-child(2){
    left:2px;
    top: 20px;
    width: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(45deg);
    transition-delay: 50ms;
  }
  .nav-icon.open span:nth-child(3){
    left:14px;
    top: 20px;
    width: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(-45deg);
    transition-delay: 100ms;
  }

.header__nav-icon-hidden {
    display: none;
}

.header__vertical-nav-hidden {
  display: none;
}

@media (max-width: 768px) {
  .header__horizontal-nav-hidden {
    display: none;
  }
  .header__nav-icon-hidden {
    display: unset;
  }
}