
.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background-image: linear-gradient(to bottom right, var(--secondary-color) 0%, 70%, var(--primary-color));
    text-align: center;
    margin: 2rem auto;
    padding: 5rem;
    border-radius: 50%;
    box-shadow: 10px 10px 6px rgb(133, 131, 131);
}

.profile-img {
    margin-top: 4rem;
    width: 80vw; 
    margin-bottom: 0;
    grid-area: profile;
    justify-self: center;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, var(--secondary-color) 0%, 80%, var(--primary-color));
    box-shadow: 10px 10px 6px rgb(133, 131, 131);
}

.greeting {
    grid-area: greeting;
    justify-self: center;
    align-self: center;
    margin-top: 2rem;
    background-color: transparent;
    color: black;
}

.greeting > div {
    text-align: center;
}

h1 {
    display: inline;
    vertical-align: center;
    font-size: 3rem;
    font-family: monospace;
}

.skills {
    grid-area: skills;
}

.contact {
    grid-area: contact;
}

.contact-list {
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.contact-list > li {
    text-align: center;
}

.contact-list img {
    height: 3em;
    width: 3em;
}

.contact-list a {
    text-decoration: none;
    color: black;
}

.contact-form {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.about-me {
    grid-area: about;
}

.hidden {
    display: none;
} 

.projects {
    grid-area: projects;
}

.projects__card {
    height: 50px;
    width: 50px;
}

.footer {
    grid-area: footer;
}

.h2_interactive:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (min-width: 550px) {
    .profile-img {
        max-width: 500px;
    }
}

@media only screen and (min-width: 900px) {
    .grid-container {
       display: grid;
       grid-template-areas: 
       "nav nav nav"
       "profile x greeting"
       "skills x projects"
       "about x contact"
       "footer footer footer" ;
   } 
   .greeting {
       margin-top: 5rem;
       margin-left: 3rem;
   }
}

   @media only screen and (min-width: 1400px) {
    .grid-container {
       display: grid;
       grid-template-areas: 
       "nav nav nav"
       "profile x greeting"
       "skills x projects"
       "about x contact"
       "footer footer footer" ;
   } 
   .greeting {
    margin-top: 3rem;
   }
   .profile-img{
    align-self: start;
   } 
   .section-learning {
    align-self: start;
   }
   }